.App{
  max-width: 600px;
  margin: 2rem auto;
  
}

.Header{
  font-family: 'Kanit', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: rgb(55, 164, 236);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Kanit', sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  text-decoration: center;
}

.inputField{
  display: flex;
  justify-content: center;
}

input{
  border: none;
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

textarea:focus, input:focus{
  outline: none;
}